.no-pad {
  padding: 0 !important;
}

.h-full {
  height: 100% !important;
}
.object-cover {
  object-fit: cover !important;
}

.pad-t-10 {
  padding-top: 0.625rem !important;
}
.flex-only-desktop {
  @media (width > 40em) {
    display: flex;
    justify-content: space-between;
  }
}
