.no-pad {
  padding: 0 !important;
}

.h-full {
  height: 100% !important;
}
.object-cover {
  object-fit: cover !important;
}

.pad-t-10 {
  padding-top: 0.625rem !important;
}

.responsive-item {
  @media (width > 40em) {
    .featured_item {
      position: static;
      margin-left: 0;
    }
    .mega_menu {
      display: flex !important;
      justify-content: space-between;
      gap: 8rem;
    }
    .tab-btn {
      width: 100%;
    }
  }
}

.overflow-tab-scroll {
  @media (min-width: 48em) and (max-width: 64em) {
    overflow-x: scroll !important;
  }
}
