@use "../abstracts" as *;

.header_announcement {
  background-color: $color-primary-900;
  text-align: center;
  font-size: $font-size-200;
  padding: $size-2;
  position: relative;
  &_title {
    font-weight: $font-weight-light;
    font-style: italic;
    color: white;
  }
  &_close_btn {
    position: absolute;
    top: 50%;
    right: 0.5%;
    transform: translateY(-50%);
    z-index: 12;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    &:hover {
      transform: translateY(-50%) rotate(60deg);
    }
  }
}

.navbar {
  display: flex;
  gap: $size-4;
  padding: $size-5;
  @media (width < 40em) {
    justify-content: space-between;
  }
  @media (width > 40em) {
    border: 1px solid #eeedeb;
  }
  .nav {
    &_logo {
      font-size: $size-5;
      color: $color-primary-900;
    }
    &_links {
      margin-left: $size-9;
      list-style: none;
      display: flex;

      @media (max-width: 40em) {
        position: fixed;
        inset: 0;
        top: 15%;
        margin-left: 0;
        flex-direction: column;
        padding: $size-4;
        gap: $size-1;
        opacity: 0;
        visibility: hidden;
        transition:
          opacity 0.3s ease-in-out,
          visibility 0.3s ease-in-out;

        &.show-links {
          opacity: 1;
          visibility: visible;
        }

        &.hide-links {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    &_item {
      padding: $size-1 $size-2;
      font-style: italic;
      font-size: $font-size-200;
      font-weight: $font-weight-light;
      @media (max-width: 40em) {
        border-bottom: 1px solid #ecf3ff;
        font-style: normal;
        font-weight: $font-weight-default;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &::after {
          content: url(../../image/icons/arrow.svg);
        }
      }
      &.single-menu {
        flex-direction: column;
        @media (max-width: 40em) {
          border-bottom: 1px solid #ecf3ff;
          font-style: normal;
          font-weight: $font-weight-default;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &::after {
            content: url(../../image/icons/arrow.svg);
          }
        }
        .single-menu-title {
          background: white;
          justify-content: flex-start;
          display: block;
          width: 100%;
          font-style: italic;
          margin-bottom: 0.625rem;
          color: $color-primary-900;
        }
        &::after {
          display: none;
        }
      }
    }
    &_hamburger_menu {
      @media (width >= 40em) {
        display: none;
      }
    }
  }
}

.mega_menu {
  display: none;
  @media (width < 40em) {
  }
}
