.swiper {
  width: 100%;
  height: 100%;
  &-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto !important;
    box-sizing: border-box;
  }
  &-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #f2f2f2;
    @media (width>40em) {
      height: max-content;
    }
  }
  &.mobile {
    display: none;
    @media (max-width: 40em) {
      display: block;
    }
    img {
      display: block;
      padding: 1.25rem 0.5rem;
      background: #f2f2f2;
      object-fit: contain;
      width: 100%;
      height: 9.1875rem;
    }
    &-slider-with-title {
      img {
        padding: 0.125rem 0.5rem;
        display: block;
        background: #f2f2f2;
        object-fit: contain;
        width: 100%;
        height: 147.33px;

        @media (width > 40em) {
          height: 13.75rem;
          width: 100%;
        }
      }
      .tag {
        color: #828282;
        font-weight: 700;
        letter-spacing: 1.2px;
        font-size: 8px;
      }
      .title {
        font-style: italic;
        font-weight: 300;
        letter-spacing: 0.3px;
        @media (width > 40em) {
          font-size: 1.125rem;
          color: #0f234c;
        }
      }
      .wrapper {
        padding: 0 0.625rem 0.625rem;
        background-color: #f2f2f2;
      }
    }
  }
  &-slider-buttons {
    @media (width>40em) {
      display: block;
      .swiper-button-next {
        width: 1rem;
        height: 1rem;
        background-image: url("/icons/arrow-slider-left.svg");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 85%;
        z-index: 99999;

        &:hover {
          filter: brightness(0) saturate(100%) invert(12%) sepia(19%)
            saturate(1589%) hue-rotate(210deg) brightness(94%) contrast(89%);
        }
      }
      .swiper-button-prev {
        width: 1rem;
        height: 1rem;
        background-image: url("/icons/arrow-slider-left.svg");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 88%;
        z-index: 99999;
        transform: rotate(180deg);

        &:hover {
          filter: brightness(0) saturate(100%) invert(12%) sepia(19%)
            saturate(1589%) hue-rotate(210deg) brightness(94%) contrast(89%);
        }
      }
    }
    @media (max-width: 40em) {
      display: none;
    }
  }
}
