@use "../abstracts/" as *;

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-text-color;
  background-color: white;
  line-height: $body-line-height;
  letter-spacing: $body-letter-spaceing;
  overflow: hidden;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:is(:hover, :focus) {
  color: $link-color-hover;
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(244, 244, 244);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(204, 204, 204);
}
